<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_SeoTaghUrls>
			<version>1.0.0.2</version>
		</Fishpig_SeoTaghUrls>
	</modules>
	<global>
		<helpers>
			<seotagurls>
				<class>Fishpig_SeoTagUrls_Helper</class>
			</seotagurls>
		</helpers>
		<events>
			<controller_front_init_routers>
				<observers>
					<seotagurls>
						<class>Fishpig_SeoTagUrls_Controller_Router</class>
						<method>initControllerRouters</method>
					</seotagurls>
				</observers>
			</controller_front_init_routers>
		</events>
	</global>
	<frontend>
		<events>
			<controller_front_send_response_before>
				<observers>
					<seotagurls>
						<type>singleton</type>
						<class>Fishpig_SeoTagUrls_Helper_Data</class>
						<method>injectLinksIntoResponseObserver</method>
					</seotagurls>
				</observers>
			</controller_front_send_response_before>
		</events>
	</frontend>
	<default>
		<seotagurls>
			<settings>
				<enabled>1</enabled>
				<front_name>tag</front_name>
			</settings>
		</seotagurls>
	</default>
</config>